body{ 

   margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #34495e;
  
  
  margin: 800;
  padding: 0;
  font-family: sans-serif;
  background: #34495e;
  
  
  
  
  
  <style type="text/css">
*{
   padding: 0px;
   margin
   }
   
   section{
   margin: 50px auto;
   width: 1025px;
   height: 150px;
   }
   
.rede{ 
width: 150px;
height: 150px;
float:left;
margin-left: 20px;
transition: all 0.4s ease-out;
}

.rede#sobre{
background-color: #2372a3;
}
   
<section> 
<div class="rede"id="sobre"></div>
<div class="rede"id="sobre"></div>
<div class="rede"id="sobre"></div>
<div class="rede"id="sobre"></div>
<div class="rede"id="sobre"></div>
<div class="rede"id="sobre"></div>
</section>

