
body{
    background-image:url(img/imgsobre.jpg);
     margin:0;
     max-width: 100%;
     background-repeat: no-repeat;
     background-size:100%;
     
 }
 .card-deck {
    width: 800px;
    height: 100px;
    left: 500px;
 }
