.btnn{
	width: 100px;
	height: 50px;
}
.Cadastrar Data{
 left: 100px;
}

.progress {
	left: 100px;
}

.progress {
	right: 190px;
}

a {
	font-family: 'Exo', sans-serif;
}

.body {
    background-image:url(img/46.jpg);
     margin:0;
     max-width: 100%;
     background-repeat: no-repeat;
     background-size:100%;
	top: 70px; /* posiciona a 70px para baixo */
	