body{
   background-image:url(img/teste.jpg);
    margin:0;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size:100%;
    background-repeat: no-repeat;
    
}

.fc-fale{
    font-size:50px;
    font-family: 'Ubuntu', sans-serif;
    color:white;
}

.row{
    color:white;
}

.container{
    margin-left:30px;

}