
a {
	font-family: 'Exo', sans-serif;
}

body {
    background-image:url(img/direitu.jpg);
    margin:0;
    max-width: 100%;
     background-repeat: no-repeat;
     background-size:100%;
	top: 70px; /* posiciona a 70px para baixo */
     
 }


 footer {
    background-color: #7ed957;
  }
  
  .footer-copyright {
    background-color: black;
    text-align: center;
  }
  
  .text-footer {
    margin-top: 20px;
    margin-left: 100px;
    font-family: 'Quicksand', sans-serif;
    color: white;
  }
  
  .footerp {
    color: white;
    margin-left: 100px;
  }
  
  .footer-copyright {
    font-family: 'Quicksand', sans-serif;
    color: rgb(0, 0, 0);
    background-color: #38b6ff;
  }
  
  .list-unstyled {
    margin-left: 100px;
  }