
body {
    background-image:url(img/101.jpg);
     margin:0;
     max-width: 100%;
     background-repeat: no-repeat;
     background-size:100%;
	top: 70px; /* posiciona a 70px para baixo */
     
 }
 .card-deck {
    width: 800px;
    height: 100px;
    left: 500px;
 }


 .bg_video {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
    background-size: cover;
}